       body{
                font-family: 'Roboto', sans-serif;
            }
        page {
            background: white;
            display: block;
            margin: 0 auto;
            margin-bottom: 0.5cm;
            box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
        }
        page[size="A4"] {  
            width: 21cm;
            height: 29.7cm; 
          }

        .fila{
            padding-top: 1.5cm;
            padding-left: 1.5cm;
            padding-right: 1.5cm;
            display:grid;
            grid-template-columns: 8.6cm 8.6cm;
            grid-template-rows: 5.38cm;
            grid-gap: 0.8cm;
            
        }  
        .carnet{
            background-image: url('/img/backend_img/background1.svg');        
            border-style: solid;   
            display:grid;
        }
        .cabecera{
            display: grid;
            grid-template-columns: 1cm 6cm;
            padding-left: 0.3cm;
            padding-top: 0.1cm;
        }

        .titulos .titulo{
            font-size: 9px;
            font-weight: bold;
            text-transform: uppercase;
        }
        .titulos .subtitulo{
            font-size: 8px;
            font-weight: normal;
            text-transform: uppercase;
        }
        .logo img{
            width: 25px;
            height: auto;
            
        }
        .foto{
            margin-left: auto;
            margin-right: auto;
            align-content: center;
        }
        .foto img{
            padding-top:2mm;
            height: 30mm;
            width: auto;            
        }
        .foto h3{
            padding-top: 0mm;
            font-size: 15px;
            font-weight: bold;
            text-align: center;
        }
        .foto p{
            padding-top: 0mm;
            font-size: 5px;
            text-align: center;
        }
        .row{
            display: grid;
            grid-template-columns: 35mm 50mm;
        }

        .info{

        }

        .info .titulo{
            font-size: 7px;
            text-transform: uppercase;
            padding-top: 1.2mm;
        }
        .info .subtitulo{
            font-size: 9px;
            text-transform: uppercase;
            font-weight: bold;
            text-shadow: 1px 1px 1px blanchedalmond;
        }